.container-header {
	padding-top: 31px;
}

.menu {
	display: flex;
	justify-content: space-between;
	padding-bottom: 72px;
}

.nav-item {
	display: inline-block;
}

.navigation {
	list-style-type: none; 
	padding-top: 7px;
}

.nav-item {
	margin-left: 31px;
}


.container-greeting {
	padding-top: 100px;
	padding-bottom: 100px;
}


.header-dots {
	display: block;
	width: 4%;
	padding-top: 100px;
}

li.dots-item-header {
	display: block;
	margin: 10px;
}

.bggreeting {
	width: 1148px;
	margin: 0 auto;
}

.greeting {	
	text-align: center;
	min-height: 515px;
	-webkit-background-size: cover;
	
}

.greeting1 {	
	background: url(../images/people.jpg) no-repeat center center;
}

.greeting2 {	
	background: url(../images/slide2.jpg) no-repeat center center;
	background-size: cover;
}

.greeting3 {	
	background: url(../images/slide3.jpg) no-repeat center center;
	background-size: cover;
}




