@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 760px) {
	.what-we-do-article {
		flex-direction: column;
	}

	.article {
		width: 90%;
	}

	.article-img {
    width: 100%;
    max-width: 560px;
	}

	.imgholder {
		width: auto;
		padding-bottom: 50px;
	}

	.img-right {
	order: 0;
	}

	.article {
		padding-left: 20px;
	}


	.article-left {
		padding-right: 0;
		padding-left: 20px;
	}

	.contact {
		flex-direction: column;
	}

	.contact-info, 
	.form {
		width: 90%;
		padding: 30px;
	}

	.social-link {
		margin-right: 5px;
		margin-bottom: 5px;
	}

}



@media  only screen and (max-width: 650px) {
	.menu {
		display: block;
		margin: 0 auto;
		width: 200px;
		text-align: center;
		padding-bottom: 20px;
	}

	.logo {
		display: block;
		padding-bottom: 50px;
	}

	.navigation {
		display: block;
	}

	.nav-item {
		display: block;
		padding-bottom: 30px;
		margin: 0 auto;
	}
}